@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 26, 29, 41;
  --background-end-rgb: 26, 29, 41;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* ライトモード */
.light {
  color-scheme: light;
}

.light body {
  background-color: #f5f5f5;
  color: #1a1d29;
}

/* ダークモード */
.dark {
  color-scheme: dark;
}

.dark body {
  background-color: #1a1d29;
  color: white;
}
