@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    background-color: #f5f5f5;
    color: #1a1d29;
  }

  html.dark,
  html.dark body {
    background-color: #1a1d29;
    color: white;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.light {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}
